@charset "UTF-8";
/**
 *		Approach	
 */
.approach .container {
  width: 1362px;
  padding-left: 94px; }
.approach h2 {
  margin-bottom: -45px; }
.approach__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
.approach__text {
  position: relative;
  padding-top: 85px;
  padding-right: 100px;
  -webkit-flex-basis: 54%;
      -ms-flex-preferred-size: 54%;
          flex-basis: 54%;
  max-width: 54%; }
  .approach__text:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 265px;
    height: 100%;
    background-color: #fff; }
  .approach__text p {
    z-index: 1;
    position: relative;
    margin-bottom: 20px;
    font-size: 16px; }
    .approach__text p.title {
      font-weight: 700;
      font-size: 20px; }
.approach__img {
  -webkit-flex-basis: 46%;
      -ms-flex-preferred-size: 46%;
          flex-basis: 46%;
  max-width: 46%; }
  .approach__img img {
    width: 100%; }
.approach__control {
  z-index: 5;
  position: relative;
  margin-top: -73px;
  margin-left: 5px; }
.approach .arrow {
  display: inline-block;
  width: 33px;
  height: 14px;
  background-image: url("../img/svg/9.svg");
  background-repeat: no-repeat;
  cursor: pointer;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }
  .approach .arrow__next {
    background-image: url("../img/svg/9.svg");
    background-position: right;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  .approach .arrow.slick-disabled {
    opacity: .5; }
.approach .status {
  display: inline-block;
  margin: 0 23px;
  font-weight: 500;
  font-size: 38px;
  color: #8dad3e;
  vertical-align: middle; }
  .approach .status .all-pages {
    display: inline-block;
    margin-top: 10px;
    margin-left: 5px;
    font-weight: 300;
    font-size: 22px;
    color: #929194;
    vertical-align: top; }

@media screen and (max-width: 1362px) {
  .approach .container {
    width: 1210px;
    padding: 0 20px; } }
/**
 *		╨бatalog
 */
.catalog {
  background-image: url(../img/icon/bg-big-logo.png);
  background-repeat: no-repeat;
  background-position: 1356px 94px; }
  .catalog__wrapper {
    position: relative; }
  .catalog__box {
    border-right: 1px solid #f2f2f2; }
    .catalog__box .title {
      margin-bottom: 24px;
      font-weight: 700;
      font-size: 32px; }
    .catalog__box:last-child {
      padding-left: 65px;
      border-right: 0; }
  .catalog__item {
    position: relative;
    margin-bottom: 14px; }
    .catalog__item a {
      position: relative;
      display: inline-block;
      padding: 0 10px 0 28px;
      font-family: 'RalewaySemiBold', Times New Roman, serif;
      font-size: 16px; }
      .catalog__item a:before {
        content: '';
        position: absolute;
        top: 6px;
        left: 1px;
        display: inline-block;
        border-top: 4px solid transparent;
        border-left: 5px solid #f6b332;
        border-bottom: 4px solid transparent; }
      .catalog__item a:hover {
        color: #90b044;
        text-decoration: underline; }
        .catalog__item a:hover:before {
          border-top: 4px solid transparent;
          border-left: 5px solid #8dad3e;
          border-bottom: 4px solid transparent; }

/**
 *		Banner	
 */
.banner .container {
  position: relative; }
.banner__list {
  white-space: nowrap; }
.banner__item {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 38px 0 92px;
  height: 485px;
  background-size: cover;
  background-position: center;
  white-space: normal; }
.banner__wrapper {
  position: relative; }
.banner__list-button {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 0 20px;
  margin-bottom: -55px; }
.banner__item-button {
  position: relative;
  width: 20%;
  padding: 30px 0 28px;
  border-bottom: 1px solid #d7d7d7;
  border-top: 1px solid #d7d7d7;
  border-left: 1px solid #d7d7d7;
  background-color: #f5f5f5;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color .3s, border-color .3s;
  transition: background-color .3s, border-color .3s; }
  .banner__item-button p {
    font-family: 'RalewaySemiBold', Times New Roman, serif;
    font-size: 16px;
    text-align: center;
    line-height: 1.25; }
  .banner__item-button:hover {
    background-color: #8dad3e;
    border-color: #8dad3e !important; }
    .banner__item-button:hover p {
      color: #fff; }
  .banner__item-button:last-child {
    border-right: 1px solid #d7d7d7; }
  .banner__item-button.is-active {
    background-color: #8dad3e;
    border-color: #8dad3e; }
    .banner__item-button.is-active:before {
      content: '';
      position: absolute;
      top: -8px;
      left: 50%;
      display: inline-block;
      border-left: 12px solid transparent;
      border-right: 12px solid transparent;
      border-bottom: 8px solid #8dad3e;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0); }
    .banner__item-button.is-active p {
      color: #fff; }
.banner__item-catalog {
  float: right;
  display: inline-block;
  max-width: 700px;
  vertical-align: top; }
.banner__item-block-text {
  display: inline-block;
  max-width: 700px;
  padding-top: 80px;
  vertical-align: top; }
  .banner__item-block-text p {
    margin-bottom: 15px;
    font-family: 'RalewaySemiBold', Times New Roman, serif;
    font-size: 48px;
    line-height: 1; }
  .banner__item-block-text .red {
    font-family: 'RalewaySemiBold', Times New Roman, serif;
    font-size: 48px;
    color: #bf4332;
    line-height: 1.1; }
  .banner__item-block-text .icon {
    display: inline-block; }
    .banner__item-block-text .icon--2 {
      width: 86px;
      height: 86px;
      background-image: url("../img/svg/16.svg");
      background-repeat: no-repeat; }
    .banner__item-block-text .icon--3 {
      width: 57px;
      height: 57px;
      background-image: url("../img/svg/17.svg");
      background-repeat: no-repeat; }
    .banner__item-block-text .icon--5 {
      width: 121px;
      height: 58px;
      background-image: url("../img/svg/6.svg");
      background-repeat: no-repeat; }
.banner__item-man {
  position: absolute;
  top: -38px;
  right: 0;
  display: inline-block;
  width: 644px;
  height: 440px;
  padding-top: 118px;
  background-image: url("../img/banner-man.png");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center; }
  .banner__item-man p {
    margin-bottom: 15px;
    font-family: 'RalewaySemiBold', Times New Roman, serif;
    font-size: 48px;
    line-height: 1; }
  .banner__item-man .red {
    font-family: 'RalewaySemiBold', Times New Roman, serif;
    font-size: 48px;
    color: #bf4332;
    line-height: 1.1; }
  .banner__item-man .icon {
    display: inline-block;
    width: 115px;
    height: 115px;
    background-image: url("../img/svg/18.svg");
    background-repeat: no-repeat; }

.item-catalog__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
.item-catalog__item {
  width: 33.333%;
  padding: 25px 25px 37px;
  background: #fff;
  border-right: 1px solid #ebebeb; }
.item-catalog__photo {
  height: 220px;
  text-align: center; }
  .item-catalog__photo img {
    display: inline-block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%; }
.item-catalog__text p {
  font-size: 14px; }
  .item-catalog__text p.title {
    margin-bottom: 10px;
    font-family: 'RalewaySemiBold', Times New Roman, serif;
    font-size: 16px; }
.item-catalog a {
  display: block; }

/**
 *		Fonts	
 */
.benefits h2 {
  margin-bottom: 100px; }
.benefits__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -12px; }
.benefits__item {
  display: inline-block;
  width: 20%;
  padding: 8px 0 20px;
  text-align: center;
  border-right: 1px solid #ebebeb; }
  .benefits__item:last-child {
    border-right: 0; }
.benefits__photo {
  margin-bottom: 25px; }
  .benefits__photo img {
    max-width: 100%; }
.benefits__text {
  text-align: center; }
  .benefits__text p {
    font-family: 'RalewaySemiBold', Times New Roman, serif;
    font-size: 16px; }

/**
 *		Block	
 */
.block {
  padding: 100px 0 75px; }
  .block--bg-text {
    background-image: url("../img/bg-1.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
  .block--benefits {
    padding: 150px 0 125px; }
  .block--inform {
    padding: 70px 0 88px; }
  .block--inform {
    background-color: #b4b7b6;
    background-image: url("../img/bg-3.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
  .block--scheme {
    padding: 85px 0 90px;
    background-image: url("../img/bg-2.jpg");
    background-size: cover;
    background-repeat: no-repeat; }
  .block--approach {
    padding: 130px 0 145px;
    background-color: #fafafa; }
  .block--examples {
    padding: 100px 0 130px; }
  .block--reviews {
    padding: 100px 0 95px;
    background-color: #fafafa; }
  .block--catalog {
    padding: 94px 0 58px; }
  .block--price-block {
    padding: 100px 0 95px; }
  .block--nopadding {
    padding: 0 !important; }

/**
 *		Header	
 */
.header {
  position: relative;
  padding-bottom: 66px; }

.header-top-menu {
  border-bottom: 1px solid #ebebeb; }
  .header-top-menu__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 13px 0 12px; }
  .header-top-menu__list {
    margin-bottom: 5px; }
  .header-top-menu__item {
    display: inline-block;
    margin-right: 57px; }
    .header-top-menu__item a {
      font-size: 14px;
      color: #5f5f5f; }
      .header-top-menu__item a:hover {
        color: #90b044;
        border-bottom: 1px solid #90b044; }
    .header-top-menu__item:last-child {
      margin-right: 0; }
  .header-top-menu__year {
    margin-right: 5px; }

.header-contacts {
  z-index: 101;
  position: relative;
  padding: 18px 0 30px;
  background-color: #fff;
  background-image: url("../img/bg-gr.png");
  background-repeat: no-repeat;
  background-repeat: repeat-x;
  background-position: top; }
  .header-contacts__logo {
    display: inline-block;
    width: 50%;
    padding-top: 3px; }
    .header-contacts__logo .logo {
      display: inline-block;
      padding-right: 22px;
      vertical-align: middle; }
      .header-contacts__logo .logo .icon {
        width: 180px;
        height: 35px;
        background-image: url("../img/svg/logo.svg");
        background-repeat: no-repeat; }
    .header-contacts__logo span {
      position: relative;
      display: inline-block;
      max-width: 210px;
      padding: 4px 0 10px 30px;
      font-size: 14px;
      font-weight: 500;
      color: #464849;
      line-height: 1.2;
      vertical-align: middle; }
      .header-contacts__logo span:before {
        content: '';
        position: absolute;
        top: 3px;
        left: 0;
        width: 1px;
        height: 36px;
        background-color: #c1c1c2; }
  .header-contacts__phone {
    float: right;
    display: inline-block;
    width: 50%;
    text-align: right; }
    .header-contacts__phone .phone {
      display: inline-block;
      margin-right: 30px;
      font-weight: 500;
      font-size: 26px;
      color: #0c0c0c;
      vertical-align: middle; }
    .header-contacts__phone .button-selection {
      z-index: 10;
      position: relative;
      display: inline-block;
      vertical-align: middle;
      text-align: left;
      cursor: pointer; }
      .header-contacts__phone .button-selection__title {
        position: relative;
        padding: 13px 50px 11px 30px;
        font-family: 'RalewaySemiBold', Times New Roman, serif;
        font-size: 14px;
        color: #fff;
        background-color: #f6b332;
        border-radius: 20px;
        border-bottom: 1px solid #f6b332; }
        .header-contacts__phone .button-selection__title:hover {
          background-color: #ffba35;
          border-bottom: 1px solid #ffba35; }
        .header-contacts__phone .button-selection__title:after {
          content: '';
          position: absolute;
          top: 20px;
          right: 26px;
          width: 0;
          height: 0;
          border-top: 4px solid #fff;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent; }
      .header-contacts__phone .button-selection__list {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: none;
        -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
        transform: translate(0, 100%); }
      .header-contacts__phone .button-selection__item {
        position: relative;
        padding: 12px 10px 11px 50px;
        background-color: #d27c3c;
        border-top: 1px solid #b96a31;
        -webkit-transition: background-color .3s;
                transition: background-color .3s;
        cursor: pointer; }
        .header-contacts__phone .button-selection__item .text {
          font-size: 14px;
          font-weight: 700;
          color: #fff; }
        .header-contacts__phone .button-selection__item .icon {
          position: absolute;
          display: inline-block; }
        .header-contacts__phone .button-selection__item--logo-1 .icon {
          top: 11px;
          left: 16px; }
        .header-contacts__phone .button-selection__item--logo-2 .icon {
          top: 7px;
          left: 13px; }
        .header-contacts__phone .button-selection__item--logo-3 .icon {
          top: 9px;
          left: 14px; }
        .header-contacts__phone .button-selection__item--logo-4 .icon {
          top: 8px;
          left: 15px; }
        .header-contacts__phone .button-selection__item:hover {
          background-color: #f6b332; }
        .header-contacts__phone .button-selection__item:first-child {
          border: 0; }
        .header-contacts__phone .button-selection__item:last-child {
          border-radius: 0 0 20px 20px; }
      .header-contacts__phone .button-selection.is-open .button-selection__title {
        background-color: #d27c3c;
        border-radius: 20px 20px 0 0;
        border-color: #b96a31; }
        .header-contacts__phone .button-selection.is-open .button-selection__title:after {
          border-top: transparent;
          border-bottom: 4px solid #fff;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent; }
      .header-contacts__phone .button-selection.is-open .button-selection__list {
        display: block; }

.header-panel {
  z-index: 100;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0 12px;
  background-color: #8dad3e; }
  .header-panel.fixed {
    position: fixed;
    top: 0;
    bottom: auto; }
  .header-panel__nav {
    display: inline-block;
    margin-right: 40px;
    vertical-align: middle; }
    .header-panel__nav button {
      position: relative;
      padding: 10px 5px 10px 45px;
      cursor: pointer; }
    .header-panel__nav .text {
      font-family: 'RalewaySemiBold', Times New Roman, serif;
      font-size: 16px;
      color: #fff; }
    .header-panel__nav .icon,
    .header-panel__nav .icon:after,
    .header-panel__nav .icon:before {
      position: absolute;
      left: 0;
      width: 25px;
      height: 3px;
      background-color: #fff; }
    .header-panel__nav .icon {
      top: 50%;
      margin-top: -2px; }
    .header-panel__nav .icon:after,
    .header-panel__nav .icon:before {
      content: ''; }
    .header-panel__nav .icon:before {
      top: -7px;
      -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
      transform-origin: top right; }
    .header-panel__nav .icon:after {
      bottom: -7px;
      -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
      transform-origin: bottom right; }
    .header-panel__nav:hover .text {
      border-bottom: 1px solid; }
  .header-panel__search {
    display: inline-block;
    vertical-align: middle; }
    .header-panel__search input {
      width: 358px;
      max-width: 365px;
      padding: 0 44px 0 17px !important;
      border: 0 !important; }
  .header-panel__icon {
    float: right;
    display: inline-block;
    vertical-align: middle; }
  .header-panel__icon-list {
    padding: 11px 0; }
  .header-panel__icon-item {
    position: relative;
    display: inline-block;
    padding-left: 37px;
    margin-right: 70px; }
    .header-panel__icon-item:last-child {
      margin-right: 0; }
    .header-panel__icon-item .icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px; }
      .header-panel__icon-item .icon--gift {
        background-image: url("../img/svg/3-white.svg");
        background-repeat: no-repeat; }
      .header-panel__icon-item .icon--stock {
        width: 22px;
        height: 22px;
        background-image: url("../img/svg/5-white.svg");
        background-repeat: no-repeat; }
    .header-panel__icon-item .text {
      font-family: 'RalewaySemiBold', Times New Roman, serif;
      font-size: 14px;
      color: #fff; }
    .header-panel__icon-item--promotions .icon {
      top: 0px;
      left: 3px; }
    .header-panel__icon-item--price .icon {
      top: 0px;
      left: -2px; }
    .header-panel__icon-item:hover .text {
      border-bottom: 1px solid; }
  .header-panel__drop-down {
    z-index: 8;
    position: absolute;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    background-color: #fff;
    -webkit-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    transform: translate(0, 100%);
    box-shadow: 0px 9px 20px 0px rgba(50, 50, 50, 0.75); }
    .header-panel__drop-down.is-visible {
      display: block; }
  .header-panel__drop-down-item {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    padding: 58px 15px 78px 45px;
    margin: 0 -10px;
    color: #121212; }
    .header-panel__drop-down-item:first-child {
      width: 55%;
      padding-left: 0; }
    .header-panel__drop-down-item:last-child {
      border-left: 1px solid #ebebeb; }
    .header-panel__drop-down-item .title {
      padding: 0 10px;
      margin-bottom: 30px;
      font-size: 18px;
      font-weight: 700; }
    .header-panel__drop-down-item .drop-down__list {
      display: inline-block;
      width: 50%;
      padding: 0 10px;
      margin: 0 -10px;
      vertical-align: top; }
      .header-panel__drop-down-item .drop-down__list--size-1 {
        width: 52%; }
      .header-panel__drop-down-item .drop-down__list--size-2 {
        width: 48%; }
      .header-panel__drop-down-item .drop-down__list--size-3 {
        width: 60%; }
      .header-panel__drop-down-item .drop-down__list--size-4 {
        width: 40%; }
      .header-panel__drop-down-item .drop-down__list--size-4 a {
        white-space: nowrap; }
    .header-panel__drop-down-item .drop-down__item {
      position: relative;
      padding: 0 10px 0 28px;
      margin-bottom: 20px; }
      .header-panel__drop-down-item .drop-down__item:before {
        content: '';
        position: absolute;
        top: 7px;
        left: 10px;
        display: inline-block;
        border-top: 4px solid transparent;
        border-left: 5px solid #8cad3e;
        border-bottom: 4px solid transparent; }
      .header-panel__drop-down-item .drop-down__item a {
        display: inline;
        font-family: 'RalewaySemiBold', Times New Roman, serif;
        font-size: 14px; }
        .header-panel__drop-down-item .drop-down__item a:hover {
          color: #90b044;
          border-bottom: 1px solid #90b044; }

/**
 *		Examples	
 */
.examples h2 {
  margin-bottom: 70px; }
.examples .slick-list {
  overflow: inherit; }
.examples__wrapper {
  position: relative; }
.examples__item {
  position: relative; }
  .examples__item img {
    width: 830px;
    margin: 0 85px; }
  .examples__item:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 85px;
    margin: 0;
    width: calc(100% - 170px);
    height: 130px;
    background-image: url("../img/bg-gr-black.png");
    background-repeat: repeat-x; }
.examples__text {
  position: absolute;
  bottom: 30px;
  left: 0;
  padding: 0 115px; }
  .examples__text p {
    font-family: 'RalewaySemiBold', Times New Roman, serif;
    font-size: 18px;
    color: #fff; }
.examples__control {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%); }
.examples .arrow {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 71px;
  height: 26px;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  background-image: url("../img/svg/10.svg");
  cursor: pointer; }
  .examples .arrow__prev {
    left: 50px; }
  .examples .arrow__next {
    right: 50px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

/**
 *		Footer	
 */
.footer {
  padding: 45px 0 60px;
  background-color: #2c2c2c; }
  .footer__info-wrapper {
    margin-right: 10px;
    border-right: 1px solid #414141; }
  .footer__info-logo {
    margin-bottom: 30px; }
    .footer__info-logo .logo {
      display: inline-block;
      width: 74px;
      height: 42px;
      margin-right: 20px;
      background-image: url("../img/svg/footer_logo.svg");
      background-repeat: no-repeat;
      vertical-align: middle; }
    .footer__info-logo span {
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      color: #fff;
      line-height: 1.5;
      vertical-align: middle; }
    .footer__info-logo a {
      color: #fff; }
  .footer__copy {
    margin-bottom: 5px;
    font-size: 14px;
    color: #a2a2a2; }
  .footer__social .title {
    color: #fff;
    font-size: 14px;
    margin-bottom: 20px; }
  .footer__social-item {
    display: inline-block;
    margin: 0 6px; }
    .footer__social-item:first-child {
      margin-left: 0; }
    .footer__social-item:last-child {
      margin-right: 0; }
  .footer__payment {
    margin-left: 15px; }
    .footer__payment .title {
      max-width: 340px;
      margin-bottom: 20px;
      font-size: 14px;
      color: #fff;
      line-height: 1.5; }
  .footer__payment-item {
    display: inline-block;
    margin: 0 6px; }
    .footer__payment-item:first-child {
      margin-left: 0; }
    .footer__payment-item:last-child {
      margin-right: 0; }

/**
 *		Form	
 */
.form--embedded {
  display: inline-block;
  padding: 35px 45px 45px;
  margin-right: 50px;
  background-color: #fff;
  vertical-align: top; }
.form .title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px; }

.form__group {
  position: relative;
  margin-bottom: 15px;
  width: 325px; }
  .form__group--noindent {
    width: 100%;
    margin-bottom: 0; }
  .form__group--button {
    margin-top: 35px;
    margin-bottom: 0; }
    .form__group--button .button {
      padding: 13px 17px 13px;
      font-size: 14px; }
    .form__group--button .acton {
      float: right;
      margin-top: 12px;
      font-size: 14px;
      font-weight: 700;
      color: #ec1812; }
      .form__group--button .acton:hover {
        color: #fe312b; }
  .form__group input {
    height: 40px;
    margin: 0;
    background-color: #fff;
    border-radius: 3px;
    padding: 0 17px;
    border: 1px solid #d7d7d7;
    font-family: 'RalewaySemiBold', Times New Roman, serif;
    font-size: 13px;
    color: #464849;
    -webkit-appearance: none; }
    .form__group input:hover {
      border-color: #8dad3e; }
  .form__group input::-webkit-input-placeholder {
    font-family: 'RalewaySemiBold', Times New Roman, serif;
    font-size: 13px;
    color: #464849;
    line-height: 16px; }
  .form__group input::-moz-placeholder {
    font-family: 'RalewaySemiBold', Times New Roman, serif;
    font-size: 13px;
    color: #464849; }
  .form__group input:-moz-placeholder {
    font-family: 'RalewaySemiBold', Times New Roman, serif;
    font-size: 13px;
    color: #464849;
    line-height: 16px; }
  .form__group input:-ms-input-placeholder {
    font-family: 'RalewaySemiBold', Times New Roman, serif;
    font-size: 13px;
    color: #464849;
    line-height: 16px; }
  .form__group input:focus::-webkit-input-placeholder {
    color: transparent; }
  .form__group input:focus::-moz-placeholder {
    color: transparent; }
  .form__group input:focus:-moz-placeholder {
    color: transparent; }
  .form__group input:focus:-ms-input-placeholder {
    color: transparent; }
  .form__group .input-button {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    width: 44px;
    height: 38px;
    margin: 0;
    padding: 0;
    background-image: url("../img/svg/4-black.svg");
    background-size: 16px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1); }
  .form__group select {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0 44px 0 17px;
    background-color: #fff;
    border-radius: 3px;
    font-family: 'RalewaySemiBold', Times New Roman, serif;
    font-size: 13px;
    color: #464849;
    border: 1px solid #d7d7d7; }
  .form__group .select2-container,
  .form__group .select2-container .select2-selection--single {
    height: 40px; }
  .form__group .select2-container--default .select2-selection--single .select2-selection__arrow {
    width: 40px;
    height: 40px; }
  .form__group .select2-container--default .select2-selection--single {
    border: 0; }
  .form__group .select2-container--default .select2-selection--single .select2-selection__rendered {
    width: 100%;
    height: 40px;
    margin: 0;
    padding: 0 44px 0 17px;
    background-color: #fff;
    border-radius: 3px;
    font-family: 'RalewaySemiBold', Times New Roman, serif;
    font-size: 13px;
    color: #464849;
    border: 1px solid #d7d7d7;
    line-height: 40px; }
    .form__group .select2-container--default .select2-selection--single .select2-selection__rendered:hover {
      border-color: #8dad3e; }
  .form__group .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #121212 transparent transparent transparent; }
  .form__group .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #121212 transparent; }
  .form__group .select2-container--default .select2-selection--single .select2-selection__placeholder {
    font-family: 'RalewaySemiBold', Times New Roman, serif;
    font-size: 13px;
    color: #464849; }

.select2-results__option {
  font-size: 14px; }

.select2-dropdown {
  border: 1px solid #d7d7d7; }

.select2-results__option {
  padding: 5px 17px 7px 17px;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 13px;
  color: #464849; }

/**
 *		Inform
 */
.inform__box {
  background: #fff;
  border: 1px solid #f2f2f2; }
  .inform__box .title {
    padding: 34px 50px 30px;
    font-size: 20px;
    font-weight: 700;
    border-bottom: 1px solid #f2f2f2; }
    .inform__box .title--green {
      color: #8cad3e; }
.inform__list {
  padding: 35px 50px 45px; }
.inform__price {
  position: relative;
  padding: 0 50px; }
  .inform__price .button {
    position: absolute;
    top: 23px;
    right: 48px; }
.inform__item {
  position: relative;
  margin-bottom: 30px; }
  .inform__item span {
    display: inline-block;
    vertical-align: middle; }
  .inform__item .text {
    width: 250px;
    padding-left: 50px; }
  .inform__item .icon {
    position: absolute;
    top: 0;
    left: 15px;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .inform__item .price {
    font-family: 'Roboto', Times New Roman, serif;
    font-weight: 500; }
  .inform__item--strikethrough span {
    color: #d0d0d0; }
  .inform__item--strikethrough .text,
  .inform__item--strikethrough .price {
    text-decoration: line-through; }
  .inform__item:last-child {
    margin-bottom: 0; }
.inform__price {
  padding: 31px 50px 41px;
  border-top: 1px solid #f2f2f2; }
  .inform__price p {
    font-size: 18px;
    font-weight: 700; }
    .inform__price p span {
      margin-left: 10px;
      font-family: 'Roboto', Times New Roman, serif;
      font-size: 18px;
      font-weight: 500; }
  .inform__price--green p, .inform__price--green span {
    color: #8dad3e; }

/**
 *		Price block	
 */
.price-block__photo {
  padding: 24px 0;
  margin-bottom: 22px;
  text-align: center;
  border: 1px solid #f2f2f2; }
  .price-block__photo img {
    display: inline-block;
    width: 100%;
    max-width: 215px; }
.price-block__info p {
  margin-bottom: 11px;
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px; }
.price-block__info p.price {
  margin-bottom: 0;
  font-family: 'Roboto', Times New Roman, serif;
  font-weight: 500;
  font-size: 22px; }
  .price-block__info p.price sub, .price-block__info p.price sup {
    top: -0.6em;
    font-size: 60%; }

/**
 *		Reviews	
 */
.reviews h2 {
  position: relative;
  padding-bottom: 32px;
  margin: 0 0 56px; }
  .reviews h2:before {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 370px;
    height: 1px;
    background-color: #d7d7d8;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .reviews h2:after {
    content: '';
    display: inline-block;
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 90px;
    height: 60px;
    padding: 20px 30px;
    background-color: #fafafa;
    background-image: url("../img/icon/reviews-dots.png");
    background-repeat: no-repeat;
    background-position: center;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
.reviews__list-text {
  margin-bottom: 25px; }
.reviews__item-text {
  text-align: center; }
  .reviews__item-text p {
    margin-bottom: 15px; }
.reviews__item-icon {
  width: 235px;
  padding-top: 25px;
  text-align: center;
  cursor: pointer; }
  .reviews__item-icon .wrapper {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 140px;
    margin-bottom: 66px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    -webkit-transition: -webkit-transform .3s, -webkit-transform .3s;
            transition: transform .3s, -webkit-transform .3s;
    -webkit-transform: translateZ(0) scale(0.74, 0.74);
    -ms-transform: translateZ(0) scale(0.74, 0.74);
    transform: translateZ(0) scale(0.74, 0.74); }
    .reviews__item-icon .wrapper img {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 100px;
      max-height: 70px;
      -webkit-transform: translate3d(-50%, -50%, 0);
      -ms-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0); }
  .reviews__item-icon.slick-current .wrapper {
    -webkit-transform: translateZ(0) scale(1, 1);
    -ms-transform: translateZ(0) scale(1, 1);
    transform: translateZ(0) scale(1, 1); }
  .reviews__item-icon.slick-current .reviews__item-name {
    display: block; }
  .reviews__item-icon.slick-current .reviews__progress-bar {
    background-color: #8dad3e; }
.reviews__progress-bar {
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  -webkit-transition: -webkit-transform .3s, -webkit-transform .3s;
          transition: transform .3s, -webkit-transform .3s;
  width: 100%;
  height: 3px;
  margin-bottom: 45px;
  background-color: #e8e9ed; }
.reviews__item-name {
  display: none; }
  .reviews__item-name p {
    font-weight: 500;
    font-size: 14px;
    color: #a1a1a1; }
    .reviews__item-name p.title {
      margin-bottom: 7px;
      color: #121212;
      font-family: 'RalewaySemiBold', Times New Roman, serif;
      font-size: 18px; }
.reviews .slick-list {
  overflow: hidden; }

/**
 *		Scheme	
 */
.scheme__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  margin-top: 75px;
  margin: 75px 0 57px; }
.scheme__item {
  position: relative;
  display: inline-block;
  width: 14.28%;
  text-align: center; }
  .scheme__item:last-child:before {
    display: none; }
  .scheme__item:before {
    content: '';
    position: absolute;
    top: 29px;
    right: -13px;
    display: inline-block;
    width: 33px;
    height: 14px;
    background-image: url("../img/icon/arrow.png");
    background-repeat: no-repeat; }
.scheme__icon {
  margin-bottom: 21px; }
  .scheme__icon .icon-wrapper {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff; }
  .scheme__icon .icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    .scheme__icon .icon--1 {
      width: 41px;
      height: 41px;
      background-image: url("../img/icon/scheme-3.png");
      background-repeat: no-repeat; }
    .scheme__icon .icon--2 {
      width: 42px;
      height: 42px;
      background-image: url("../img/icon/scheme-1.png");
      background-repeat: no-repeat; }
    .scheme__icon .icon--3 {
      width: 36px;
      height: 46px;
      background-image: url("../img/svg/11.svg");
      background-repeat: no-repeat; }
    .scheme__icon .icon--4 {
      width: 42px;
      height: 37px;
      background-image: url("../img/svg/12.svg");
      background-repeat: no-repeat; }
    .scheme__icon .icon--5 {
      width: 38px;
      height: 38px;
      background-image: url("../img/svg/13.svg");
      background-repeat: no-repeat; }
    .scheme__icon .icon--6 {
      width: 41px;
      height: 41px;
      background-image: url("../img/svg/14.svg");
      background-repeat: no-repeat; }
    .scheme__icon .icon--7 {
      width: 31px;
      height: 39px;
      background-image: url("../img/svg/15.svg");
      background-repeat: no-repeat; }
.scheme__text p {
  font-family: 'RalewaySemiBold', Times New Roman, serif;
  font-size: 16px;
  color: #fff; }
.scheme .button {
  padding: 16px 47px 16px; }

/**
 *		Fonts	
 */
@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayRegular.eot");
  src: url("../fonts/RalewayRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayRegular.woff") format("woff"), url("../fonts/RalewayRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayMedium.eot");
  src: url("../fonts/RalewayMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayMedium.woff") format("woff"), url("../fonts/RalewayMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }
@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayLight.eot");
  src: url("../fonts/RalewayLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayLight.woff") format("woff"), url("../fonts/RalewayLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: "Raleway";
  src: url("../fonts/RalewayBold.eot");
  src: url("../fonts/RalewayBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBold.woff") format("woff"), url("../fonts/RalewayBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "RalewayBlack";
  src: url("../fonts/RalewayBlack.eot");
  src: url("../fonts/RalewayBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewayBlack.woff") format("woff"), url("../fonts/RalewayBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "RalewaySemiBold";
  src: url("../fonts/RalewaySemiBold.eot");
  src: url("../fonts/RalewaySemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RalewaySemiBold.woff") format("woff"), url("../fonts/RalewaySemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoBold.eot");
  src: url("../fonts/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
@font-face {
  font-family: "Roboto";
  src: url("../fonts/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500; }
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none; }

html {
  font-size: 100%;
  font-family: 'Raleway', Times New Roman, serif;
  font-style: normal; }

body {
  min-width: 1210px;
  color: #121212;
  background-color: #fff; }
  body.menu-open {
    overflow: hidden; }

.wrapper {
  z-index: 1;
  position: relative;
  overflow: hidden; }

.container {
  width: 1210px;
  padding: 0 20px;
  margin: 0 auto; }

h2 {
  margin: 0 0 60px;
  font-size: 32px;
  text-align: center; }
  h2.white {
    color: #fff; }
  h2.align-left {
    text-align: left; }

h3 {
  margin: 0 0 40px;
  font-weight: 700;
  font-size: 24px; }

p,
a,
span,
li {
  margin: 0;
  font-size: 16px;
  line-height: 1.4;
  color: #121212; }

a {
  text-decoration: none; }

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none; }

input {
  display: inline-block;
  width: 100%;
  height: 40px;
  max-width: 360px;
  padding: 10px 13px;
  margin-right: 7px;
  color: #231f20;
  font-family: 'Raleway', Times New Roman, serif;
  font-size: 16px;
  background-color: inherit;
  border-radius: 0;
  border: 1px solid #231f20;
  vertical-align: top; }

input::-webkit-input-placeholder {
  color: #231f20;
  font-size: 16px;
  font-family: 'Raleway', Times New Roman, serif; }

input::-moz-placeholder {
  color: #231f20;
  font-size: 16px;
  font-family: 'Raleway', Times New Roman, serif; }

input:-moz-placeholder {
  color: #231f20;
  font-size: 16px;
  font-family: 'Raleway', Times New Roman, serif; }

input:-ms-input-placeholder {
  color: #231f20;
  font-size: 16px;
  font-family: 'Raleway', Times New Roman, serif; }

button,
a {
  background-color: transparent;
  border: 0;
  border-radius: 0; }
  button.button,
  a.button {
    padding: 13px 30px 15px;
    font-family: 'RalewaySemiBold', Times New Roman, serif;
    font-size: 16px;
    color: #fff;
    background-color: #f6b332;
    border-radius: 30px;
    cursor: pointer; }
    button.button:hover,
    a.button:hover {
      background-color: #ffba35; }

.button-wrapper--center {
  text-align: center; }

.text p {
  font-size: 16px;
  margin-bottom: 22px; }
