/**
 *		Banner	
 */

.banner {
	
	.container {
		position: relative;
	}
	
	&__list {
		white-space: nowrap;
	}
	
	&__item {
		position: relative;
		display: inline-block;
		width: 100%;
		padding: 38px 0 92px;
		height: 485px;
		background-size: cover;
		background-position: center;
    white-space: normal;
	}
	
	&__wrapper {
		position: relative;
	}
	
	&__list-button {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		width: 100%;
		padding: 0 20px;
		margin-bottom: -55px;
	}
	
	&__item-button {
		position: relative;
		width: 20%;
		padding: 30px 0 28px;
		border-bottom: 1px solid #d7d7d7;
		border-top: 1px solid #d7d7d7;
		border-left: 1px solid #d7d7d7;
		background-color: #f5f5f5;
		text-align: center;
		cursor: pointer;
		-webkit-transition: background-color .3s, border-color .3s;
		transition: background-color .3s, border-color .3s;
		
		p {
			font-family: 'RalewaySemiBold', Times New Roman, serif;
			font-size: 16px;
			text-align: center;
			line-height: 1.25;
		}
		
		&:hover {
			background-color: #8dad3e;
			border-color: #8dad3e !important;
			
			p {
				color: #fff;
			}
		}
		
		&:last-child {
			border-right: 1px solid #d7d7d7;
		}
		
		&.is-active {
			background-color: #8dad3e;
			border-color: #8dad3e;
			
			&:before {
				content: '';
				position: absolute;
				top: -8px;
				left: 50%;
				display: inline-block;
				border-left: 12px solid transparent;
				border-right: 12px solid transparent;
				border-bottom: 8px solid #8dad3e;
				-webkit-transform: translate(-50%,0);
				-ms-transform: translate(-50%,0);
				transform: translate(-50%,0);
			}
			
			p {
				color: #fff;
			}
		}
	}
	
	&__item-catalog {
		float: right;
		display: inline-block;
		max-width: 700px;
		vertical-align: top;
	}
	
	&__item-block-text {
		display: inline-block;
		max-width: 700px;
		padding-top: 80px;
		vertical-align: top;
		
		p {
			margin-bottom: 15px;
			font-family: 'RalewaySemiBold', Times New Roman, serif;
			font-size: 48px;
			line-height: 1;
		}
		
		.red {
			font-family: 'RalewaySemiBold', Times New Roman, serif;
			font-size: 48px;
			color: #bf4332;
			line-height: 1.1;
		}
		
		.icon {
			display: inline-block;
			
			&--2 {
				width: 86px;
				height: 86px;
				background-image: url('../img/svg/16.svg');
				background-repeat: no-repeat;
			}
			
			&--3 {
				width: 57px;
				height: 57px;
				background-image: url('../img/svg/17.svg');
				background-repeat: no-repeat;
			}
			
			&--5 {
				width: 121px;
				height: 58px;
				background-image: url('../img/svg/6.svg');
				background-repeat: no-repeat;
			}
		}
	}
	
	&__item-man {
		position: absolute;
		top: -38px;
		right: 0;
		display: inline-block;
		width: 644px;
		height: 440px;
		padding-top: 118px;
		background-image: url('../img/banner-man.png');
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		
		p {
			margin-bottom: 15px;
			font-family: 'RalewaySemiBold', Times New Roman, serif;
			font-size: 48px;
			line-height: 1;
		}
		
		.red {
			font-family: 'RalewaySemiBold', Times New Roman, serif;
			font-size: 48px;
			color: #bf4332;
			line-height: 1.1;
		}
		
		.icon {
			display: inline-block;
			width: 115px;
			height: 115px;
			background-image: url('../img/svg/18.svg');
			background-repeat: no-repeat;
		}
	}
}

.item-catalog {
	
	&__list {
		display: flex;
		flex-wrap: nowrap;
		align-items: stretch;	
	}
	
	&__item {
		width: 33.333%;
		padding: 25px 25px 37px;
		background: #fff;
		border-right: 1px solid #ebebeb;
	}
	
	&__photo {
		height: 220px;
		text-align: center;
		
		img {
			display: inline-block;
			width: auto;
			height: auto;
			max-width: 100%;
			max-height: 100%;
		}
	}
	
	&__text {
		
		p {
			font-size: 14px;
			
			&.title {
				margin-bottom: 10px;
				font-family: 'RalewaySemiBold', Times New Roman, serif;
				font-size: 16px;
			}
		}
	}
	
	a {
		display: block;
	}
}