/**
 *		Examples	
 */

.examples {
	
	h2 {
		margin-bottom: 70px;
	}
	
	.slick-list {
		overflow: inherit;
	}
	
	&__wrapper {
		position: relative;
	}
	
	&__item {
		position: relative;
		
		img {
			width: 830px;
			margin: 0 85px;
		}
		
		&:before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 85px;
			margin: 0;
			width: calc(100% - 170px);
			height: 130px;
			background-image: url('../img/bg-gr-black.png');
			background-repeat: repeat-x;
		}
	}
	
	&__text {
		position: absolute;
		bottom: 30px;
		left: 0;
		padding: 0 115px;
		
		p {
			font-family: 'RalewaySemiBold', Times New Roman, serif;
			font-size: 18px;
			color: #fff;
		}
	}
	
	&__control {
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
	}
	
	.arrow {
		position: absolute;
		top: 50%;
		display: inline-block;
		width: 71px;
		height: 26px;
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		background-image: url('../img/svg/10.svg');
		cursor: pointer;
		
		&__prev {
			left: 50px;
		}
		
		&__next {
			right: 50px;
			-webkit-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			transform: rotate(180deg);
		}
	}
}