/**
 *		Inform
 */

.inform {
	
	&__box {
		background: #fff;
		border: 1px solid #f2f2f2;
	
		.title {
			padding: 34px 50px 30px;
			font-size: 20px;
			font-weight: 700;
			border-bottom: 1px solid #f2f2f2;
			
			&--green {
				color: #8cad3e;
			}
		}
	}
	
	&__list {
		padding: 35px 50px 45px;	
	}
	
	&__price {
		position: relative;
		padding: 0 50px;
		
		.button {
			position: absolute;
			top: 23px;
			right: 48px;
		}
	}
	
	&__item {
		position: relative;
		margin-bottom: 30px;
		
		span {
			display: inline-block;
			vertical-align: middle;
		}
		
		.text {
			width: 250px;
			padding-left: 50px;
		}
		
		.icon {
			position: absolute;
			top: 0;
			left: 15px;
			-webkit-transform: translate(-50%, 0);
			-ms-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
		}
		
		.price {
			font-family: 'Roboto', Times New Roman, serif;
			font-weight: 500;
		}
		
		&--strikethrough {
			
			span {
				color: #d0d0d0;
			}
			
			.text,
			.price {
				text-decoration: line-through;
			}
		}
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	&__price {
		padding: 31px 50px 41px;
		border-top: 1px solid #f2f2f2;
		
		p {
			font-size: 18px;
			font-weight: 700;
			
			span {
				margin-left: 10px;
				font-family: 'Roboto', Times New Roman, serif;
				font-size: 18px;
				font-weight: 500;
			}
		}
		
		&--green p,
		&--green span {
			color: #8dad3e;
		}
	}
}