/**
 *		Price block	
 */

.price-block {
	
	&__photo {
		padding: 24px 0;
		margin-bottom: 22px;
		text-align: center;
		border: 1px solid #f2f2f2;
		
		img {
			display: inline-block;
			width: 100%;
			max-width: 215px;
		}
	}
	
	&__info {
		
		p {
			margin-bottom: 11px;
			font-family: 'RalewaySemiBold', Times New Roman, serif;
			font-size: 16px;
		}
		
		p.price {
			margin-bottom: 0;
			font-family: 'Roboto', Times New Roman, serif;
			font-weight: 500;
			font-size: 22px;
			
			sub, sup {
				top: -0.6em;
				font-size: 60%;
			}
		}
	}
}