/**
 *		Reviews	
 */

.reviews {
	
	h2 {
		position: relative;
		padding-bottom: 32px;
		margin: 0 0 56px;
		
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			bottom: 0;
			left: 50%;
			width: 370px;
			height: 1px;
			background-color: #d7d7d8;
			-webkit-transform: translate(-50%, 0);
			-ms-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
		}
		
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			bottom: -30px;
			left: 50%;
			width: 90px;
			height: 60px;
			padding: 20px 30px;
			background-color: #fafafa;
			background-image: url('../img/icon/reviews-dots.png');
			background-repeat: no-repeat;
			background-position: center;
			-webkit-transform: translate(-50%, 0);
			-ms-transform: translate(-50%, 0);
			transform: translate(-50%, 0);
		}
	}
	
	&__list-text {
		margin-bottom: 25px;
	}
	
	&__item-text {
		text-align: center;
		
		p {
			margin-bottom: 15px;
		}
	}
	
	&__item-icon {
		width: 235px;
		padding-top: 25px;
		text-align: center;
		cursor: pointer;
		
		.wrapper {
			position: relative;
			display: inline-block;
			width: 140px;
			height: 140px;
			margin-bottom: 66px;
			background-color: #fff;
			border-radius: 50%;
			border: 1px solid #f2f2f2;
			-webkit-transition: -webkit-transform .3s;
			transition: -webkit-transform .3s;
			transition: transform .3s;
			transition: transform .3s, -webkit-transform .3s;
			-webkit-transform: translateZ(0) scale(.74, .74);
			-ms-transform: translateZ(0) scale(.74, .74);
			transform: translateZ(0) scale(.74, .74);
			
			img {
				position: absolute;
				top: 50%;
				left: 50%;
				max-width: 100px;
				max-height: 70px;
				-webkit-transform: translate3d(-50%, -50%, 0);
				-ms-transform: translate3d(-50%, -50%, 0);
				transform: translate3d(-50%, -50%, 0);
			}
		}
		
		&.slick-current {
			
			.wrapper {
				-webkit-transform: translateZ(0) scale(1, 1);
				-ms-transform: translateZ(0) scale(1, 1);
				transform: translateZ(0) scale(1, 1);
			}
			
			.reviews__item-name {
				display: block;
			}
			
			.reviews__progress-bar {
				background-color: #8dad3e;
			}
		}
	}
	
	&__progress-bar {
		-webkit-transition: -webkit-transform .3s;
		transition: -webkit-transform .3s;
		transition: transform .3s;
		transition: transform .3s, -webkit-transform .3s;
		width: 100%;
		height: 3px;
		margin-bottom: 45px;
		background-color: #e8e9ed;
	}
	
	&__item-name {
		display: none;
		
		p {
			font-weight: 500;
			font-size: 14px;
			color: #a1a1a1;
			
			&.title {
				margin-bottom: 7px;
				color: #121212;
				font-family: 'RalewaySemiBold', Times New Roman, serif;
				font-size: 18px;
			}
		}
	}
	
	.slick-list {
		overflow: hidden;
	}
}